@import '../../globals.scss';

.card {
	height: 29rem;
	width: 20rem;
	display: flex;
	flex-direction: column;
	border: 2px solid $fourthColor;
	border-radius: 10px 10px;
	margin: 2.5rem;
	box-shadow: 10px 10px $fourthColor;
	position: relative;
	&:hover {
		transform: scale(1.02);
		transition: translateY linear 0.3s;
		transform: translateY(-7px);
	}
	.status {
		font-weight: 800;
		position: absolute;
		right: 10px;
		top: 10px;
		border-radius: 6px;
		width: 5rem;
		border: 2px solid black;
	}
	.gender {
		font-weight: 800;
		position: absolute;
		left: 10px;
		top: 10px;
		border-radius: 6px;
		width: 5rem;
		border: 2px solid black;
	}
	.id {
		font-weight: 800;
		position: absolute;
		top: -15px;
		align-self: center;
		border-radius: 50px;
		width: 2rem;
		border: 2px solid black;
	}
}

.text {
	margin-top: 0.5rem;
	&:hover {
		color: $thirdColor;
	}
}

span {
	margin-top: 0.5rem;
}
