@import '../../globals.scss';
.search-bar {
	align-self: center;
	.icon {
		margin-right: 1rem;
		@include mobile {
			display: none;
		}
	}
	.filter {
		margin-top: 5rem;
		width: 30rem;
		height: 2rem;
		border-radius: 10px;
		background: none;
		outline: none;
		padding-left: 1rem;
		font-size: 20px;
		letter-spacing: 1px;
		align-self: center;
		@include mobile {
			width: 15rem;
		}
	}
}
